.nav{
    background-image: url(../img/nav.png);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.logo{
    margin-left: 5%;
    padding: 2%
}

.nav-img{
    width: 10rem;
}

.card-element{
    border: solid black 2px;
    width: 15rem;
    height: 30rem;
    margin: auto;
    margin-top: 2%;
    padding: 3px;
    
}

.wrapper{
    
    display: flex;
    margin:auto;
    max-width: 70%;
    margin-top: 2%;
}

.card-body{
    display: inline-block;
    margin-top: auto;
    
}

.carousel-img{
    width: 50vw;
    padding: 1%;
    margin: auto;
    margin-bottom: 1%;
}

.maps{
    border:0;
    width: 40vw;
    height: 30vw;
    margin:auto
}

.contact{
    display: flex;

    
}
.contact-detail{
    margin-right: 4%;
    display: block;
    justify-content: center;
    margin-top: 3%;
    font-family: Montserrat, sans-serif;
    
}