.nav {
	margin-left: auto;
	margin-right: auto;
}

.container {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	text-align: center;
}

.logo {
	margin-left: 5%;
	padding: 2%;
}

.nav-img {
	width: 10rem;
}

.card-element {
	border: solid black 2px;
	width: 15vw;
	height: 30vw;
	margin: auto;
	margin-top: 2%;
	padding: 3px;
}

.wrapper {
	display: flex;
	margin: auto;
	max-width: 70%;
	margin-top: 2%;
	margin-bottom: 10%;
}

.card-body {
	display: inline-block;
	margin-top: auto;
}

.carousel-img {
	width: 50vw;
	padding: 1%;
	margin: auto;
	margin-bottom: 1%;
}

.maps {
	border: 0;
	width: 40vw;
	height: 30vw;
	margin: auto;
}

.contact {
	display: flex;
}
.contact-detail {
	margin-right: 6%;
	display: block;
	justify-content: center;
	margin-top: 4%;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.form {
	font-family: Montserrat, sans-serif;
	display: block;
	margin: auto;
	max-width: 50%;
	margin-top: 2%;
	font-size: small;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.form-pricing {
	font-family: Montserrat, sans-serif;
	display: block;
	margin: auto;
	max-width: 40%;
	margin-top: 2%;
	font-size: small;

}


.bold {
	font-weight: bold;
}

.new-product {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
}

.img-overview {
	height: 22rem;
	width: 22rem;
	border: solid 1px black;
    margin: auto;

}

.img{
	max-width: 19rem;
	max-height: 19rem;
	margin:auto;
	margin-top: 5%;
	
}

.img-admin{
	width: 5rem;
	
}

.path{
border-bottom: solid 1px black;
color: black;
}

.no-path{
	color: black;
}

.shop-list{
	max-width:50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 2%;
}

.shop-item{
	width: 40em;
}

.shop-img{
	width: 10em;
	margin:auto;
}

.shop-container{
	height: 12em;
	margin-top: 1%;
	margin-bottom: 1%;

}

.shop-items{
	height: 3em;
	text-align: left;
}

.shop-button{
	width: 4%;
	margin-left: 1%;
	
}